@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--primary-font: 'Source Code Pro', monospace;
	--primary-white: #f3f3f3;
	--dark-gray: #303842;
	--light-gray: #3a4750;
}

body {
	background-color: var(--primary-white) !important;
}

.page-container {
	font-family: var(--primary-font);
	height: 100vh;
	padding-bottom: 50px;
}

.secondary-page-container {
	width: 85%;
}

@media screen and (min-width: 1000px) {
	.logo-image {
		width: 70%;
		height: 30vh;
	}

	.logo-container {
		background-color: var(--dark-gray);
		margin-bottom: 5vh;
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
	.logo-image {
		width: 70%;
		height: 25vh;
	}

	.logo-container {
		background-color: var(--dark-gray);
		margin-bottom: 5vh;
	}
}

@media screen and (max-width: 800px) {
	.logo-image {
		width: 70%;
		height: 25vh;
	}

	.logo-container {
		background-color: var(--dark-gray);
		margin-bottom: 5vh;
	}
}

@media screen and (max-width: 500px) {
	.logo-image {
		width: 100%;
		height: 20vh;
	}

	.logo-container {
		background-color: var(--dark-gray);
		margin-bottom: 5vh;
	}
}

@media screen and (max-width: 300px) {
	.logo-image {
		width: 100%;
		height: 10vh;
	}

	.logo-container {
		background-color: var(--dark-gray);
		margin-bottom: 5vh;
	}
}

@media screen and (min-width: 540px) {
	.main-page-heading {
		color: var(--dark-gray);
		width: 85vw;
		overflow: hidden;
		white-space: nowrap;
		margin: 0 auto;
		animation: typing 7s steps(40, end) infinite;
	}

	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}
}

@media screen and (max-width: 400px) {
	.main-page-heading {
		color: var(--dark-gray);
		width: 85vw;
	}
}

.main-page-heading-2 {
	margin-top: 5vh;
	color: var(--dark-gray);
}

.instructions {
	width: 85vw;
	margin-top: 3vh;
}

@media screen and (min-width: 600px) {
	.start-button {
		margin-top: 10vh;
		padding: 15px;
		width: 15vw;
		height: 10vh;
		font-size: x-large;
		font-weight: 900;
		color: var(--primary-white);
		background-color: var(--light-gray);
		border: none;
		border-radius: 25px;
	}
}

@media screen and (max-width: 600px) {
	.start-button {
		margin-top: 10vh;
		padding: 15px;
		width: 65vw;
		height: 10vh;
		font-size: x-large;
		font-weight: 900;
		color: var(--primary-white);
		background-color: var(--light-gray);
		border: none;
		border-radius: 25px;
		margin-bottom: 10vh;
	}
}

.question-container {
	width: 80vw;
	height: 50%;
	background-color: var(--light-gray);
	color: var(--primary-white);
	padding: 25px;
	margin-top: 5vh;
	text-align: left;
	overflow-wrap: break-word;
	position: relative;
}

.button-container {
	text-align: center;
}

.score {
	margin-top: 5vh;
	font-size: 30px;
	padding-bottom: 50px;
	width: 85vw;
}

.check-answer-button {
	margin-top: 5vh;
	padding-right: 25px;
	padding-left: 25px;
	overflow-wrap: break-word;
	font-size: 24px;
	font-weight: 900;
	color: var(--dark-gray);
	background-color: var(--primary-white);
	border: none;
	border-radius: 25px;
	display: inline-block;
}

.next-question-button {
	margin-top: 5vh;
	padding-right: 25px;
	padding-left: 25px;
	overflow-wrap: break-word;
	font-size: 24px;
	font-weight: 900;
	color: var(--dark-gray);
	background-color: var(--primary-white);
	border: none;
	border-radius: 25px;
	display: inline-block;
}

label {
	margin-left: 1vw;
}

.radio-buttons {
	height: 15px;
	width: 15px;
	padding-top: 3px;
}

.start-over-button {
	margin-top: 7vh;
	padding: 15px;
	width: 15vw;
	height: 10vh;
	font-size: x-large;
	font-weight: 900;
	color: var(--primary-white);
	background-color: var(--light-gray);
	border: none;
	border-radius: 25px;
	position: relative;
}

.quiz-page-heading {
	color: var(--dark-gray);
	width: 85vw;
}

.loading {
	text-align: center;
	margin-top: 20vh;
	width: 85vw;
	overflow-wrap: break-word;
}
