@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--primary-font: 'Source Code Pro', monospace;
	--primary-white: #f3f3f3;
	--dark-gray: #303842;
	--light-gray: #3a4750;
}

.page-container {
	background-color: var(--primary-white);
	height: 100vh;
	font-family: var(--primary-font);
	padding-bottom: 50px;
}

.secondary-page-container {
	width: 85%;
}

.logo-image {
	width: 70%;
	height: 30vh;
}

.logo-container {
	background-color: var(--dark-gray);
	margin-bottom: 5vh;
}

.main-page-heading {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 7s steps(40, end) infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.main-page-heading-2 {
	margin-top: 5vh;
}

.start-button {
	margin-top: 10vh;
	padding: 15px;
	width: 15vw;
	height: 10vh;
	font-size: x-large;
	font-weight: 900;
	color: var(--primary-white);
	background-color: var(--light-gray);
	border: none;
	border-radius: 25px;
}

.question-container {
	width: 60vw;
	height: 50%;
	background-color: var(--light-gray);
	color: var(--primary-white);
	padding: 25px;
	margin-top: 5vh;
	text-align: left;
	/*display: inline block;*/
}

.score {
	margin-top: 5vh;
	font-size: 30px;
	margin-bottom: 50px;
}

.check-answer-button {
	margin-top: 5vh;
	padding: 5px;
	width: 25vw;
	height: 5vh;
	font-size: 24px;
	font-weight: 900;
	color: var(--dark-gray);
	background-color: var(--primary-white);
	border: none;
	border-radius: 25px;
	margin-left: 0.5vw;
}

.next-question-button {
	margin-top: 5vh;
	padding: 5px;
	width: 25vw;
	height: 5vh;
	font-size: 24px;
	font-weight: 900;
	color: var(--dark-gray);
	background-color: var(--primary-white);
	border: none;
	border-radius: 25px;
	position: fixed;
	margin-left: 5vw;
}

label {
	margin-left: 1vw;
}

.radio-buttons {
	height: 15px;
	width: 15px;
	padding-top: 3px;
}
